<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register Form</title>
</head>
<body>

<h3>User Update</h3>

<form action="#" th:action="@{/user/update}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <p>First Name: </p> <input type="text" th:field="*{firstname}"/>
    <p>Last Name: </p> <input type="text" th:field="*{surname}"/>
    <p>Password: </p> <input type="text" th:field="*{password}"/>

    <input type="submit" value="Update"/>



</form>

</body>
</html>