<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: headerinclude"></th:block>
    <title>Info for</title>
</head>
<body>
<div th:include="fragments/header :: header"></div>
<h3>Info for</h3>

<div>
    <ol>
        <li th:each="artist : ${artist}">
            <p th:text="${artist.artistFirstname}+' '+${artist.artistSurname}"></p>
            <p th:text="${artist.artistInfo}" class="container"></p>
            <p th:text="${artist.artistDOB}" class="DOB"></p>
        </li>
    </ol>
</div>

<form th:action="@{/artist/artistUpdate/}+${artist.id}" method="get">
    <input type="submit" value="Update Artist"/>
</form>

<form th:action="@{/artist/deleteArtist/}+${artist.id}" method="get">
    <input type="submit" value="Delete Artist" onclick="return confirm('Are you sure you want to delete this artist?')"/>
</form>

<div>
    <ol>
        <li th:each="songs : ${artist.songs}">
            <p th:text="${songs.songTitle}+' '+${songs.songLength}"></p>
        </li>
    </ol>
</div>

<form th:action="@{/song/addsong/}+${artist.id}" method="get">
    <input type="submit" value="Add Song"/>
</form>


</body>
</html>