<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: headerinclude"></th:block>
    <title>Register Form</title>
</head>
<body>
<div th:include="fragments/header :: header"></div>
<h3>Artist Update</h3>

<form action="#" th:action="@{/artist/artistUpdate}" th:object="${artist}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <p>First Name: </p> <input type="text" th:field="*{artistFirstname}"/>
    <p>Last Name: </p> <input type="text" th:field="*{artistSurname}"/>
    <p>Info: </p> <input type="text" th:field="*{artistInfo}"/>
    <p>DOB: </p> <input type="text" th:field="*{artistDOB}"/>

    <input type="submit" value="Update"/>



</form>

</body>
</html>